.table {
  margin-top: 20px;
  overflow-y: scroll;
  color: #6a5d5d;
  background-color: white;
  height: 400px;
}

.table li {
  display: flex;
  justify-content: space-between;
}

.table p {
  padding: 0.5rem;
  border: none;
}

.table li:nth-of-type(odd) {
  background-color: #f3f2f8;
}
